*{
margin: auto;
}

input{
  border: white solid 1.7px;
  border-radius: .5em;
  padding: .2em;
  width: 53%;
  background-color: #cb8e7e;
}

::placeholder {
  color: white;
  font-family: Roboto;
}

body {
  background-color: #FFFFFF;
  color: #423e3a;
  width: 100%;
  overflow-wrap: break-word;
  padding-top: 6em;
}
/*-----------------------------NAVBAR----------------------------------------*/
.navbarmiddle, .navbarright{
  height: 100%;
}

.navbarmiddle{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.navbarright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

nav{
  padding: 1em 2em 1em 2em;
  background-color: #cb8e7e;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

nav.navbar.navbar-dark{
  height: 100px;
}

.navbar h1{
  color: white;
  text-shadow: black 1px 0 10px;
}



/*-----------------------------NAVBAR END----------------------------------------*/
h1, h2, h3, h4, h5, h6{
  font-family: Suranna;

}

p{
/* maybe a different color for better readabilty*/ 
  font-family: Roboto;
}

button {
  background-color: #cb8e7e;
  color: #FFFFFF;
  font-weight: bold; 
  font-family: Roboto;
}

