*{
margin: auto;
color: #423e3a;
}

input{
  border: white solid 1.7px;
  border-radius: .5em;
  padding: .2em;
  width: 53%;
  background-color: #423e3a;
}

::placeholder {
  color: white;
  font-family: Roboto;
}

body {
  background-color: #FFFFFF;
  color: #423e3a;
  width: 100%;
  overflow-wrap: break-word;
}
/*OLD NAVBAR
/*-----------------------------OLD----------------------------------------
.navbarmiddle, .navbarright{
  height: 100%;
}

.navbarmiddle{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.navbarright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

nav{
  padding: 1em 2em 1em 2em;
  background-color: #423e3a;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

nav.navbar.navbar-dark{
  height: 100px;
}

.navbar h1{
  color: white;
  text-shadow: black 1px 0 10px;
}
*/

/*NEW NAV*/

.navbar{
  width: 100%;
  display: flex;
  height: 110px;
  padding: 0 1em 0 1em;
  background-color: #423e3a; 
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.navbar h1{
  color: white;
  text-shadow: black 1px 0 10px;
}

.navbarone{
  width: 60%;
}

.navbartwo{
  display: flex;
  align-items: center;
  width: 30%;
}

.navbartwo input{
  width: 90%;
  max-width: 270px;;
  padding: .4em;
  color: white;
}

.navbartwo input:hover{
  cursor: ;
}

.navbarthree{
  display: flex;
  flex-direction: row;
  width: 10%;
  
}

.navbarthree img{
  border: solid .5px white;
  border-radius: .4em;
  height: 50px;
  padding: .2em;
  
}

.navbarthree img:hover{
  background-color: #cb8e7e;
  cursor: pointer;
  padding: 0;
}

/*-----------------------------NAVBAR END----------------------------------------*/
h1, h2, h3, h4, h5, h6{
  font-family: Suranna;

}

p{
/* maybe a different color for better readabilty*/ 
  font-family: Roboto;
}

button {
  background-color: #cb8e7e;
  color: #FFFFFF;
  font-weight: bold; 
  font-family: Roboto;
}

/*-----------------------FOOTER---------------------------*/
footer{
  background-color: #cb8e7e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerleft{
  border: solid green;
  width: 70%;
}

.footerright{
  border: solid green;
  width: 40%;
}

.footerleft input{
  width: 10%;
  background-color: #cb8e7e;
}

.footerright img{
  width: 50px;
}