


.title-div{
    padding:10px;
    background-color: #cb8e7e;
    margin-top: 100px;;
}

.title{
    text-align: center;

}

/* #recipe-image{
    height:"200px";
     width: auto;
} */
.recipe-image{
    height:"400px";
     width: 100%;
}

.time-money-section {
    width: "350px";
    height: "350px";
    background-color: beige;
    border: 1px solid red;
}