
body{
    background-color: #cb8e7e;
}


/********* Title section ********/
.title-div{
    padding:10px;
    background-color: rgb(204, 235, 233);
    margin-top: 100px;;
    background-color: #f5dacc;
}

.title{
    text-align: center;
    font-family:suranna;

}

/* .recipe-image{
    height:550px;
     width: 100%;
} */


/* .rec-div{
    width: 100%;
    height: 700px;
    background-image: url("../RECIPES/Recipe-Images/pancakes.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;

} */




/* <img class="recipe-image2" 
     src="https://images.unsplash.com/photo-1547592180-85f173990554?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" >
     */
   
    

/******** hover  **********/

img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    font-family: 'roboto';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.20s; 
}


.img_overlay:hover {
    opacity: 1;

}

.img_overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img_overlay:hover > *  {
    transform: translateY(0);
}


   





/********  Ingredients  section  *****************/




.cart-img{
    width: 50px;
    height:50px;
    padding-right:10px;
    
    /* margin-left: 560px; */
}
.what-we-need{
    text-align: center;
    padding-top: 20px;
    /* border-bottom: 1px solid gray; */
   



   
}



.table th {
    width: auto !important;
}






/* ********   How to Prepare     ****** */

.preparation-part1{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* .cooking-img{
    width: 50px;
    height: 50px;
} 
.heading{

}
*/
.preparation{
    background-color: #f5dacc;
}
.how-to-prepare{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* font-family: ;
     */

     background-color: #f5dacc;

     /* border: 1px solid green; */
}
.how-to-prepare p{
    text-align: center;
    padding-top: 20px;
    margin-left: 200px;
    margin-right:200px;
}



.video-share{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
    
}



.back-button{
   display: flex;
   justify-content: center;
   padding: 10px;

}













